<%= form_with(model: special_offer) do |form| %>
  <% if special_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(special_offer.errors.count, "error") %> prohibited this special_offer from being saved:</h2>

      <ul>
        <% special_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_code, style: "display: block" %>
    <%= form.text_field :product_code %>
  </div>

  <div>
    <%= form.label :activated_on, style: "display: block" %>
    <%= form.number_field :activated_on %>
  </div>

  <div>
    <%= form.label :next_affected, style: "display: block" %>
    <%= form.number_field :next_affected %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.text_field :discount %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.checkbox :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
