<div id="<%= dom_id special_offer %>">
  <p class="product_code">
    <strong>Product code:</strong>
    <%= special_offer.product_code %>
  </p>

  <p class="activated_on">
    <strong>Activated on:</strong>
    <%= special_offer.activated_on %>
  </p>

  <p class="next_affected">
    <strong>Next affected:</strong>
    <%= special_offer.next_affected %>
  </p>

  <p class="discount">
    <strong>Discount:</strong>
    <%= special_offer.discount %>
  </p>

  <p class="active">
    <strong>Active:</strong>
    <%= special_offer.active %>
  </p>

</div>
